* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
   
}

.tituloo {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 10%;
    font-size: 20px;
    color: white;
    justify-content: space-around;
    display: flex;

}

.carrusel3{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

}
img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom 5s linear infinite;
}
@keyframes zoom {
    100%{
        width: 100%;

    }
}
.text-box {
    width: 600px;
    position: absolute;
    top: 400px;
    left: 100px;
    color: rgb(255, 255, 255);

}

.text-box p{
    font-size: 14px;
    line-height: 10px;
    margin-top: 50px;
}
.text-box span {
    background: tomato;
    height: 5px;
    width: 200px;
    position: absolute;
    left: 0;
}
