    
.carrusel3{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

#Venom1 {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom 5s linear infinite;
}
@keyframes zoom {
    100%{
        width: 100%;

    }
}
.text-box {
    background-color: rgba(0, 0, 0, 0.568);
    width: 600px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 20px;
    color: #ffffff;
    
}

.text-box p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}

.text-box span {
    background: rgb(255, 243, 71);
    height: 5px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 10px;
}
#Venom12 {
    width: 30%;
    border: 1px solid #383535;
    margin-left: 10px;
    margin-top: 10px;
}